@media only screen and (orientation: landscape) {
	body {
		color: white;
		background-color: midnightblue;
		text-align: center;
		
	}
	span {
		width: 12%;
		padding: 15% 0%;
		display:inline-block;
		background-color: dimgray;
		border: solid red 1em;
		border-radius: 2em;
		margin: 2% 1%;
		text-align: center;
	}
}
