body {
	color: white;
	/*background: linear-gradient(to right, snow,aquamarine);*/
	background-color: black;
	text-align: center;
}

.button {
		display:inline-block;
		border: solid hotpink 1em;
		border-radius: 2em;
		margin: 2% 1%;
		box-shadow: 0px 0px 15px 5px #888888;
		background-color: rgba(32, 32, 32, 0.10);
	}

@media only screen and (orientation: landscape) {	
	.button {
		width: 12%;
		padding: 15% 0%;
	}
}

@media only screen and (orientation: portrait) {
	.button {
		width: 25%;
		padding: 6% 0%;
	}
	.odd {
		float: left;
	}
	.even {
		float: right;
	}
	.vrow {
		display: inline-block;
		border: none;
	}
}
